html {
  height: 100vh;

}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-image: url("./Images/bg-ocean.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;


  backdrop-filter: blur(4px);


}

#root {
  min-height: 100vh;
  margin:0;
  background-image: linear-gradient(to right top, rgb(62, 81, 81, 0.5), rgb(88, 112, 104, 0.5), rgb(123, 144, 123, 0.5), rgb(168, 174, 141, 0.5), rgb(222, 203, 164, 0.5));
  width: 100%;
display: grid;
grid-template-rows: auto 1fr auto;
justify-content: center;
grid-template-columns: 100%;

}

/* buttons styling */


.button {
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #aec2cb, transparent);
  color:#49492A;
  font-weight: 600;
  border-color: #aec2cb;
  font-size: 18px;
  border-radius: 10px;
  overflow: hidden; /* Masque le débordement du contenu */
  transition: all 0.5s;
  z-index: 1; /* Assure que le bouton est au-dessus des pseudo-éléments */
}


.button:hover {
  box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.1);
}

.white {
color: #ffffff}



 /* Header */
header {
 display: flex;
 flex-direction: column;
  padding: 0 0 15px 0;

  z-index : 1;
  position: relative;

  @media (min-width: 800px){
    align-items: center;;
  
  }

}

.title {
  text-align: center;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  @media (min-width: 800px){
    max-width: 800px;
  
  }
}

/* Navigation */

.navigation{
display: flex;
width: 100%;
justify-content: space-between;
height: 45px;
@media (min-width: 800px){
  max-width: 800px;

}
}

.profile {
  justify-content: flex-end;
}

.imgNav {
  margin: 20px 20px;
}


.placeholder-nav{
  height: 45px;

}



/* NavigationLogIn */

.navForm{
  display: flex;
  justify-content: space-between;
  width: 100%;
    border-top-left-radius: 40px;
  
}

.container-a{
  width: 50%;
}

a.navlink {
  display: flex;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  width: 100%;
  justify-content: center;
  padding: 15px 0 15px 0;
  color:  #DADDE2;

}



a.navlink.register.active{
  background-color: #f8f8f8;
  border-top-left-radius: 40px;
  color:#49492A;

}

a.navlink.signin.active{
  background-color: #f8f8f8;
  border-top-right-radius: 40px;
  color:#49492A;

}

a.navlink.register{
  border-top-left-radius: 40px;
  background-color: rgb(62, 81, 81, 0.5);
}

a.navlink.signin {
  border-top-right-radius: 40px;  
  background-color: rgb(62, 81, 81, 0.5);
}


/* Form */
form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}


.container-formOutside{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:15px 0 15px 0;

  z-index: 1;
  position: relative;
}

.container-formInside{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #DADDE2 ;
  border-radius: 40px;
  box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.1);

  @media (min-width: 800px){
    max-width: 565px;
  
  }
}

.container-inputForm{
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  margin-top: 15px;

}

.input-password {
display: flex;
flex-direction: row;
position: relative;

}
.input-password .inputForm {
  padding-right: 60px;
}

.input-password button {
position:absolute;
right: 3px;
top:21px;
border:none;
background-color:#ffffff ;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input.inputForm {
  width: 100%;
  box-shadow:  0px 4px 6px rgba(0,0,0,0.1);
  margin: 15px 0 15px 0;

}
.container-buttonForm{
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom:25px
}

/* ListTodos */
.main-container-todo {
  display: flex;
flex-direction: column;
align-items: center;
width: 100%;

}

.container-todos {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
@media (min-width: 800px){
  max-width: 800px;

}

}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;  
  color: #49492A;
  margin:0;
  padding:0;
  width:80%;
  height:100%;

}

li {
  min-height: 50px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  margin: 8px 0 8px 0;
  border-radius: 5px;
  align-items: center;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



.container-input {
  height: 190px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 800px){
    max-width: 800px;
  
  }
}

input {
  height: 40px;
  width: 80%;
  border: 1px solid #889EB1;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
  color:#49492A;
  font-size: 18px;
  padding-left: 10px;
  box-shadow: 0px 0px 15px 9px rgba(0,0,0,0.1);
}




/* UpdateInput.js */
.container-update-input {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
position: relative;
}

.update-input {
  flex: 1;
  min-height: 80%;
  margin-right:4px;
  box-shadow: none;
  margin-left: 4px;
  block-size: fit-content;
padding-right: 50px;
}

.button-confirm {
  display: flex;
  justify-content: center;
  width:45px;
  margin: 0; 
  color:#49492A;
  overflow: hidden; /* Masque le débordement du contenu */
  transition: all 0.5s;
  z-index: 1; /* Assure que le bouton est au-dessus des pseudo-éléments */
  border:none;
  position: absolute;
  right: 5px;
  background-color: #ffffff;
}

.container-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.display-task {
  display: flex;
  flex: 1;
  text-align: left;
  width: 90%;
  cursor: pointer;
  padding: 10px;
  overflow-wrap: break-word;
  text-overflow: clip;

}

.delete-task {
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  width: 50px;
  border: none;
  background-color: #f8f8f8;
  color:#49492A;
  visibility: hidden;
  @media(hover : none) { 
    visibility: visible; 
    opacity: 0.3;
  }

} 

.container-task:hover > .delete-task {
  @media(hover : hover) { visibility: visible;};

}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #f8f8f8
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #f8f8f8;
  width: 100%;
  margin-top: 80px;
}

.text-footer {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 8px;
}




/* Logout */


.container-logout-outside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px ;
}

.container-logout-inside {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  border-style: solid;
  border-width: 1px;
  background-color: #f8f8f8 ;
  border-color: #DADDE2 ;
  color:#49492A;
  border-radius: 40px;
  box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.1);
  @media (min-width: 650px){
    max-width: 455px;
  
  }
}

.buttonDeleteAccount{
  color: black;
  background-color: #f8f8f8;
  font-size: 15px;
  border: none;
  text-decoration: underline;
  margin: 40px 0 10px 0;
}

p {
  font-size: 20px;
  font-weight: 600;
}